<html lang="en">
	<head>
		{{> head}}
	</head>
	<body>
		{{> header}}
		<div class="container">
            <div id="nav-bar">
                <div>left: nav circles (question x of y)</div>
                <div>right: exit button</div>
            </div>
            <div id="info-bar">
                <p>Difficulty (with reason in subtext)</p>
                <p>Course name</p>
                <p>Chapter name</p>
                <p>Topic name</p>
            </div>
            <div>
                <div>question text</div>
                <div>choices</div>
            </div>

            <div id="button-bar">
                <button>left: Previous</button>
                <button>right: Submit</button>
            </div>

			{{test_id}}
		</div>
        {{> footer}}
	</body>
	<script type="text/javascript">
		$(function(){
            let index = 1;
			$.get(`/api/test/{{test_id}}/${index}`, (data)=>{
                console.log(data);
            });
		});
	</script>
</html>