<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <div class="container">
        {{#if chapters}}
            <h1>Chapters from {{chapters.[0].course_name}}</h1>
            <ul>
                {{#each chapters}}
                    <li>
                        <a href="/tests/{{this.id_hash}}">{{this.name}}</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h1>No chapters found</h1>
        {{/if}}
    </div>
    {{> footer}}
</body>
</html>