<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <div class="container">
        {{#if tests}}
            <h1>Tests for {{tests.[0].chapter_name}}</h1>
            <ul>
                {{#each tests}}
                    <li>
                        <a href="/test/{{this.id_hash}}">{{this.test_name}}</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h1>No tests found</h1>
        {{/if}}
    </div>
    {{> footer}}
</body>
</html>