<footer class="bg-[#0D1117] p-16">
	<section class="container max-w-4xl xl:max-w-6xl mx-auto p-2">
		<section class="footer-links">Footer links</section>
		<section>
			<div class="legal-social">
				&copy; 2024 Aarya AI. All rights reserved.
			</div>
		</section>
	</section>
</footer>