<footer class="bg-[#0D1117] p-16">
	<section class="container-default p-2">
		<section class="footer-links">Footer links</section>
		<section>
			<div class="text-white">
				&copy; 2024 Aarya AI. All rights reserved.
			</div>
		</section>
	</section>
</footer>