<header class="container-default">
	<nav class="mb-16 mt-2">
		<figure>
			<a href="/">
				<img src="/assets/images/logo-w.svg" alt="Logo" style="width: 8rem;"
					class="bg-slate-800 border-slate-500 border-4 rounded shadow" />
			</a>
		</figure>
	</nav>
</header>