<html lang="en">

	<head>
		{{> head}}
	</head>

	<body class="dark:bg-[#303841] dark:text-stone-100">
		<nav></nav>
		<main class="container-default mt-16 p-8 lg:p-0">
			{{> index-hero}}
			{{> index-featured}}
			{{> index-latest}}
			{{> index-by-tags}}

			<section class="trending-stories">
				<!-- section with inverted background color -->
				<!-- top 5 trending stories in columns-->
				<!-- section header -->
				<!-- each colum has a bold textured number on top followed by h3 title, subtitle, and author name -->
			</section>
		</main>
		{{> newsletter}}
		{{> footer}}
	</body>

</html>