<html lang="en">

    <head>
        {{> head}}
    </head>

    <body class="dark:bg-[#303841] dark:text-stone-100">
        <div class="p-2">
            {{> header}}
            <main class="container-default">
                {{> @partial-block}}
            </main>
        </div>
        {{> newsletter}}
        {{> footer}}
    </body>

</html>