<section class="bg-[#161B22] mt-16 p-16">
    <div class="container-default">
        <div class="flex flex-col lg:flex-row gap-8">
            <div class="flex-1 p-2 w-full lg:w-96 lg:p-0">
                <h1 class="text-white text-3xl xl:text-4xl">Subscribe to our newsletter</h1>
                <sub class="text-gray-400 text-base xl:text-xl">Code with confidence. Discover
                    tips, technical guides,
                    and best practices in our
                    biweekly
                    newsletter just for devs.</sub>
            </div>
            <div class="flex-1 p-2 lg:p-0 justify-items-end">
                <form action="" class="flex lg:flex-row flex-col gap-4">
                    <input type="email" placeholder="Enter your email address" class="flex-1" />
                    <button type="submit" class="flex-1 button-flashy">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>