<section class="bg-[#161B22] mt-16 p-16">
    <div class="container max-w-4xl xl:max-w-6xl mx-auto">
        <div class="flex flex-col lg:flex-row">
            <div class="flex-1 p-2 w-96">
                <h1 class="text-white text-3xl xl:text-4xl">Subscribe to our newsletter</h2>
                    <sub class="text-gray-200 leading-3 text-base xl:text-xl">Code with confidence. Discover
                        tips, technical guides,
                        and best practices in our
                        biweekly
                        newsletter just for devs.</sub>
            </div>
            <div class="flex-1 p-2">
                <form action="" class="flex flex-col gap-4 w-96">
                    <input type="email" placeholder="Enter your email address" class="flex-auto" />
                    <button type="submit" class="flex-auto button-flashy">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>