<html lang="en">

    <head>
        {{> head}}
    </head>

    <body class="dark:bg-[#303841] dark:text-stone-100 p-2">
        {{> header}}
        {{> side-panel}}
        <main class="container-default">
            {{> @partial-block}}
        </main>
    </body>

</html>