{{#> admin-main}}
    <div class="grid grid-cols-12 w-full gap-2">
        <section class="col-span-12 md:col-span-6">
            <form id="userForm">
                <h1 class="text-3xl mb-6 text-gray-800 dark:text-white">Add a new Author</h1>
                <div class="mb-4">
                    <label class="block text-gray-700 dark:text-white text-sm mb-2">Name:</label>
                    <div class="flex flex-col md:flex-row gap-2">
                        <input type="text" id="first_name" name="first_name" placeholder="given name" required>
                        <input type="text" id="last_name" name="last_name" placeholder="family name" required>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700 dark:text-white text-sm mb-2">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>

                <div class="mb-4">
                    <label for="bio" class="block text-gray-700  dark:text-white text-sm mb-2">Bio:</label>
                    <textarea id="bio" name="bio" rows="5" placeholder="Tell us about yourself (use markdown)"
                        required></textarea>
                </div>

                <div class="mb-4">
                    <label for="photo-field" class="block text-gray-700 dark:text-white text-sm mb-2">Upload a
                        Profile Photo</label>
                    <div class="flex-row md:flex items-baseline gap-4">
                        <input type="file" id="photo-field" name="photo-field" class="mb-4 flex-1"
                            accept=".jpg,.jpeg" />
                        <div class="flex md:justify-end">
                            <button type="button" id="upload-button" disabled>Upload
                                photo</button>
                        </div>

                    </div>
                    <div id="photo-field-error">
                    </div>
                    <div class="mt-2">
                        <img src="/assets/images/headshot.png" id="profile-photo" alt="Profile Photo"
                            class="object-cover border rounded-full w-[48px] h-[48px] bg-white">
                        <input type="hidden" id="photo-url" name="photo-url">
                    </div>

                </div>

                <div class="mb-4">
                    <label for="intro" class="block text-gray-700  dark:text-white text-sm mb-2">Intro:</label>
                    <textarea id="intro" name="intro" rows="5" placeholder="A short introduction (use markdown)"
                        required></textarea>
                </div>

                <input type="hidden" id="schema" value="{{schema}}">

                <div class="flex">
                    <button type="submit" id="submit-button" class="button-flashy w-64 mx-auto"
                        data-url="/admin/author">
                        Submit
                    </button>
                </div>
            </form>
            <div id="errors" class="bg-yellow-100 text-black p-2 hidden">
            </div>
        </section>
        <section class="col-auto">

        </section>
    </div>
    <script type="module" src="/assets/scripts/author.js"></script>
{{/admin-main}}