{% extends "base.html" %} {% block content %} {% if error %} {% if error == "not found" %}
<div>
  We did not find your email in our records. Please
  <a href="/forgot-password/verify-email">start over</a> and check for typos.
</div>
{% elif error == "server error" %}
<div>Sorry, a server error occurred. Please try again later.</div>
{% else %}
<div>Unexpected error: {{ error }}</div>
{% endif %} {% else %}
<div>
  <p>We sent an email to: {{ email_address }}</p>
  <p>Click on the link provided in the email to reset your password</p>
  <p>
    If you don't see the email, don't forget to check your spam folder. If you don't recieve the
    email in a couple of minutes then <a href="/forgot-password/verify-email">start over</a>
  </p>
</div>
{% endif %} {% endblock %}
