{% extends "base.html" %} {% block content %}
<div class="login-form">
  <form
    action="/forgot-password/verify-email"
    id="loginForm"
    method="POST">
    <label for="email_address">Verify Email</label>
    <input
      data-email="true"
      data-required="true"
      id="email_address"
      name="email_address"
      type="email" />

    <button type="submit">Send email</button>
    <a href="/login">Login</a>
    <a href="/signup">Signup for a new account</a>
  </form>
  <div id="formErrors"></div>
</div>

<script>
  $(document).ready(() => {
    $("#loginForm").on("submit", (e) => {
      e.preventDefault();
      // validate
      // submit form
      var formData = $(e.currentTarget).serializeArray(); // Serialize form data
      var jsonData = {};
      $.each(formData, function () {
        jsonData[this.name] = this.value;
      });

      console.log(formData);
      console.log(jsonData);

      $.ajax({
        url: "/forgot-password",
        type: "POST",
        contentType: "application/json", // Specify the content type as JSON
        data: JSON.stringify(jsonData), // Convert the JSON object to a JSON string
        success: function (response) {
          if (response.action && response.action.action_type == "Redirect") {
            window.location = response.action.arg;
          }
        },
        error: function (xhr) {
          console.log(xhr);
          if (xhr.status == 404) {
            var message = $("<div/>");
            var response = xhr.responseJSON;
            if (response.action && response.action.action_type == "HandleError") {
              var email_address = response.action.arg;
              $(
                "<p>We did not find " +
                  email_address +
                  " in our records. Please check for typos.</p>"
              ).appendTo(message);
              $("<p>If you are a new user, you can <a href='/signup'>signup</a>.</p>").appendTo(
                message
              );
              message.appendTo("#formErrors");
            }
          }
          if (xhr.status == 500) {
            var message = $("<div/>");
            $("<p>An internal error has occurred. Please try again later.</p>").appendTo(message);
            message.appendTo("#formErrors");
          }
        },
      });
    });
  });
</script>

{% endblock %}
