{% extends "base.html" %} {% block content %} {% if error %}
<div>{{error}}</div>
{% else %}
<div>
  <div id="form_container">
    <form
      action="/reset-password"
      id="resetForm"
      method="POST">
      <div>
        <input
          type="hidden"
          id="email_hash"
          name="email_hash"
          value="{{email_hash}}" />
        <label for="password">New Password</label>
        <input
          data-required="true"
          data-minlength="6"
          data-maxlength="20"
          data-label="Password"
          id="password"
          name="password"
          type="password" />
      </div>
      <div>
        <label for="confirm_password">Confirm New Password</label>
        <input
          data-required="true"
          data-match="#password"
          data-label="Confirm Password"
          data-minlength="6"
          data-maxlength="20"
          id="confirm_password"
          name="confirm_password"
          type="password" />
      </div>

      <button type="submit">Reset Password</button>
    </form>
    <div id="formErrors"></div>
  </div>
</div>
<script>
  $(document).ready(() => {
    $("#resetForm").on("submit", (e) => {
      e.preventDefault();
      // cleanup
      let errors = [];
      $("#formErrors").empty();

      // validate
      $(e.currentTarget)
        .find("input")
        .each(function () {
          let $input = $(this);
          let value = $input.val();
          let required = $input.data("required");
          let minlength = $input.data("minlength");
          let maxlength = $input.data("maxlength");
          let email = $input.data("email");
          let match = $input.data("match");

          if (required && !value) {
            errors.push($input.data("label") + " is required.");
          }

          if (value && minlength && value.length < minlength) {
            errors.push($input.data("label") + " must be at least " + minlength + " characters.");
          }

          if (value && match && value !== $(match).val()) {
            console.log(value, match, $(match).val());
            errors.push("Confirm password must match the Password.");
          }
        });

      if (errors.length > 0) {
        $.each(errors, function (i, error) {
          $("#formErrors").append($("<div>").text(error));
        });
        return;
      }

      // submit form
      var formData = $(e.currentTarget).serializeArray(); // Serialize form data
      var jsonData = {};
      $.each(formData, function () {
        jsonData[this.name] = this.value;
      });

      // console.log(jsonData);

      $.ajax({
        url: "/reset-password",
        type: "POST",
        contentType: "application/json", // Specify the content type as JSON
        data: JSON.stringify(jsonData), // Convert the JSON object to a JSON string
        success: function (response) {
          console.log(response);
          if (response.action && response.action.action_type == "Redirect") {
            $("#form_container").html(
              "<p>Your password is reset. You can use the new password to <a href='/login'>Login</> now.</p>"
            );
          }
        },
        error: function (xhr) {
          console.log(xhr);
          var message = $("<div/>");
          var response = xhr.responseJSON;
          if (response.action && response.action.action_type == "HandleError") {
            $("<p>" + response.action.arg + "</p>").appendTo(message);
            message.appendTo("#formErrors");
          }
        },
      });
    });
  });
</script>
{% endif %} {% endblock %}
