@font-face {
	font-family: "Alliance";
	src: url("../fonts/Alliance-No-1-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "Alliance";
	src: url("../fonts/Alliance-No-1-Bold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Alliance";
	src: url("../fonts/Alliance-No-1-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Alliance";
	src: url("../fonts/Alliance-No-1-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Alliance";
	src: url("../fonts/Alliance-No-1-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Alliance", system-ui, sans-serif;
		font-feature-settings: "ss02", "ss01";
	}
	h1 {
		font-weight: 800;
		letter-spacing: -0.03em;
		-webkit-font-smoothing: antialiased;
		line-height: 95% !important;
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		-webkit-font-smoothing: antialiased;
	}
}

@layer components {
	input[type="email"] {
		@apply text-base border-2 border-slate-300 rounded p-2;
	}
	button[type="button"] {
		@apply bg-cyan-800 text-white rounded p-2 w-full cursor-pointer;
	}
	.button-flashy {
		@apply bg-gradient-to-r from-pink-400 to-purple-500 inline-block font-bold text-white rounded shadow p-3 w-full cursor-pointer hover:from-pink-500 hover:to-purple-600;
	}
	.gradient-text {
		@apply bg-gradient-to-r from-pink-500 to-purple-500 inline-block text-transparent bg-clip-text;
	}
	.container-default {
		@apply container max-w-[1024px] xl:max-w-[1280px] 2xl:max-w-[1440px] mx-auto;
	}
	.growable {
		@apply transition-transform duration-300 ease-in-out transform hover:scale-105;
	}
	.clickable {
		@apply cursor-pointer;
	}
}
